<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.fivethings">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SoundLearnin" />
        <activity android:name=".SoundLearninPt2" />
        <activity android:name=".EqualizerLearnin" />
        <activity android:name=".FeedbackLearnin" />
        <activity android:name=".CompLearning" />
        <activity android:name=".SRLearnin" />
        <activity android:name=".CompImage"></activity>
    </application>

</manifest>